{%extends "body.html"%}

{% block content %}

<h1>Register Page</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST">
	<table>
		<tr>
			<td>Имя</td>
			<td><input type="text" name="login"></td>
		</tr>

		<tr>
			<td>Пароль</td>
			<td><input type="password" name="password"></td>
		</tr>
		<tr>
			<td>Пароль еще раз</td>
			<td><input type="password" name="password2"></td>
		</tr>

		<tr>
			<td><a href="{{url_for('login_page')}}">Страница Логин</a></td>
			<td><input type="submit" value="Зарегистрироваться"></td>
		</tr>

{%endblock%}
