
{%extends "body.html"%}


{% block content %}
 	<h1>Таблица приводов</h1>

<table  border="1">
<tr> 
	<th>№</th>
	<th>Участок</th>
	<th>Участок в участке</th>
	<th>Название мотора</th>
	<th>Маркировка</th>
	<th>Пускатель</th>
	<th>Вставки</th>
	<th>Тепловое</th>
	<th>Производетль</th>
	<th>Масса</th>
	<th>Мощность, кВт</th>
	<th>Напряжения</th>
	<th>Подключение</th>
	<th>Ток</th>
	<th>Сечение<th>
	<th>cos<th>
	<th>I.-Kl</th>
	<th>Tamb</th>
	<th>IP</th>
	<th>Дата установки</th>
	<th>Подшипник перед (DE)</th>
	<th>Подшипник зад (NDE)</th>
	<th>Тормоз</th>
	<th>Скоростей</th>
	<th>Пар полюсов, шт</th>
	<th>Обороты мин-1</th>
	<th>Вал мотора, мм</th>
	<th>Тип</th>
	<th>История</th>

</tr>
<tr>
	<td>1</td>
	<td>Профиль</td>
	<td>Подача бревна</td>
	<td>Крутит RB2</td>
	<td>M5</td>
	<td>7.5</td>
	<td>230/400</td>
	<td>Y/D</td>
	<td>F</td>
	<td>55</td>
	<td>Не известно</td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td>6208</td>
	<td>6208</td>
	<td>Нет</td>
	<td>1</td>
	<td>4</td>
	<td>1500</td>
	<td>50</td>
	<td>Мотор редуктор</td>
	<td>Какой то список ... </td>
</tr>
</table>



<script src="static/js/libs/TableFilter/tablefilter.js"></script>
{%endblock%}
